# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/moody

# Python / FastAPI
backend/mood/
backend/__pycache__/
backend/*.pyc
backend/.env

# General
.DS_Store
.vscode/

backend/models/emotion_model.onnx
